:root {
	--primary: #ffab6b;
	--secondary: #0a0b5e;
}

body {
	font-family: "Poppins", sans-serif;
}

.logo {
	font-family: "Fredoka One", cursive;
}

.first-text {
	color: #ffab6b;
	font-size: large;
}

.hero-section {
	background-color: #fafafc;
}

.hire-me {
	background-color: #ffab6b;
	/* color: #0a0b5e; */
}

.portfolio {
	border: 1px solid #ffab6b;
}
.image {
	width: 100%;
}

.qualification-section {
	background-color: #f1f4fb;
}

.andela,
.zuri,
.youtube,
.freecodecamp {
	width: 50%;
}

@media (min-width: 768px) {
	.image {
		width: 45%;
	}
	.left-col {
		margin-top: 5em;
		/* margin-bottom: 2em; */
		/* max-width: 50%; */
	}
}

@media (min-width: 1200px) {
	.left-col {
		margin-top: 7em;
		/* margin-bottom: 2em; */
		/* max-width: 50%; */
	}
}

.skill {
	width: 100%;
	background: #a2a2a5;
	height: 7px;
	position: relative;
}
.bar {
	position: absolute;
	background: var(--primary);
	height: 100%;
}

.html {
	width: 90%;
}

.css {
	width: 75%;
}

.js {
	width: 50%;
}

.ts {
	width: 30%;
}

.react {
	width: 60%;
}

.redux {
	width: 30%;
}

.overlay:hover {
	background-color: #0a0b5e;
	opacity: 0.5;
}

.contact-section {
	background-color: #f1f4fb;
}
